html {
	box-sizing: border-box;
}

body {
	font-family: 'Source Code Pro', ;
	background-color: #F65B26;
}
.main_title {
	background: #037A9C;
	text-align: center;
	height: 10.94rem;
}

.main_title h1 {
	margin: 0;
	padding-top: 50px;
}

.instructions {
	padding-top: 20px;
}
.intro {
	background-color: #206C9D; 
	height: 220px;
	color: white;
	text-align: center;
	-webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.intro p {
	margin-top: 0;
	font-size: 20px;
}

#tags {
	border-radius: 10px;
    background-color: honeydew;
    font-size: larger;
    
}

#recent {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 16px 26px;
  line-height: .33;
  width: 9.688rem;
  background-color: #F6BF26;
  font-size: 1.125rem;
  color: white;
  display: block;
  margin:0 auto;
  margin-top: 22px;
  -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  
}
#recent:hover {
	background-color: #CE9A08;
    border-color: #cf3d0e;
	cursor: pointer;
}

.user_info {
	background: #00B938;
}

.tag_getter {
	text-align: center;

}

.recent-button {
	text-align: center;
}

#results_container {
	width: 100%;
	margin-top: 30px;
}
.results {
	text-align: center;
	padding: 0;
}

.results li {
	display: inline-block;
	width: 306px;
  	height: 306px;
  	margin: 0px 20px 20px 0px;
  	padding: 10px;
}

img {
	border: 6px solid #206C9D;
	margin: 0 auto;
	opacity: 0.85;
}

img:hover {
	opacity: 1;
}

/**
 * Responsive Design
 */
 @media only screen and (max-width: 1054px) {
    .masthead {
      padding: 3em 0;
    }
    .intro p {
        font-size: 14px;
    }
    .results li {
  
	width: 210px;
  	height: 210px;
  	margin: 0px 15px 15px 0px;
  	padding: 5px;
    }
    img {
      width: 200px;
      height: 200px
    }
  
}
@media only screen and (max-width: 700px) {
    .masthead {
      padding: 3em 0;
    }
    .intro p {
        font-size: 14px;
    }
    .results li {
  
	width: 154px;
  	height: 154px;
  	margin: 0px 10px 10px 0px;
  	padding: 5px;
    }
    img {
      width: 150px;
      height: 150px
    }
  
}







































