body {
	font-family: 'Source Code Pro', ;
}
.main_title {
	background: #037A9C;
	text-align: center;
	height: 10.94rem;
}

.main_title h1 {
	margin: 0;
	padding-top: 50px;
}

.intro p {
	margin-top: 0;
}

.user_info {
	background: #00B938;
}

.state_getter {
	text-align: center;
}

.state_getter form {

}

.hidden {
	display: none;
}

.results {
	border: 1px black solid;
	padding: 5x;
}

FF7144

FCA335